
html, body, h1, h2, p, a, img, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.main-heading {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.sub-heading {
    font-size: 24px;
    color: #0077B6;
    margin-bottom: 20px;
    text-align: center;
}

.content-paragraph {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.custom-link {
    font-size: 18px;
    color: #E44D4D;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.custom-link:hover {
    color: #FF6B6B;
}

.website-image {
    max-width: 100%;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    display: block;
    margin: 0 auto;
}

#animate-button {
    background-color: #FF6B6B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

#animate-button:hover {
    background-color: #E44D4D;
}
